In [1]:
import pandas as pd

df = pd.read_excel(r'C:\Project\병원수_통계.xlsx', index_col=0)
df

,병원,보건소,보건의료원,보건지소,보건진료소,상급종합,요양병원,의원,정신병원,조산원,종합병원,치과의원,치과병원,한방병원,한의원
강원도,37,16,2,98,129,2,31,794,9,0,13,422,3,6,379
경기도,280,47,1,123,161,5,309,7854,50,5,67,4606,40,141,3259
경상남도,132,20,1,174,220,3,125,1702,29,1,23,934,20,19,790
경상북도,52,23,2,223,308,0,108,1310,26,1,20,688,13,7,626
광주광역시,85,5,0,1,10,2,61,1028,9,0,22,644,15,85,317
대구광역시,92,8,0,9,8,5,75,1926,16,0,13,916,14,15,891
대전광역시,47,5,0,6,8,1,47,1123,7,1,9,549,6,15,507
부산광역시,140,16,0,11,5,3,163,2568,23,1,25,1331,24,26,1148
서울특별시,226,25,0,10,0,14,122,9485,12,3,42,4910,61,88,3630
세종특별자치시,1,1,0,10,7,0,4,217,1,0,2,99,1,4,88
울산광역시,33,5,0,8,11,1,39,625,7,0,8,388,4,5,281
인천광역시,59,10,0,27,26,3,66,1737,17,0,18,984,10,49,675
전라남도,72,19,3,216,327,1,82,969,11,0,25,509,6,26,369
전라북도,61,10,4,149,241,2,82,1197,10,0,12,595,3,32,509
제주특별자치도,7,6,0,11,48,0,11,482,2,1,6,243,1,1,195
충정남도,45,14,2,150,236,2,69,1100,17,0,11,592,11,13,509
충정북도,37,14,0,95,159,1,38,924,11,1,12,472,4,13,0

In [2]:
type(df)

pandas.core.frame.DataFrame

In [3]:
df_sum = df.sum(axis=1)
df_sum = pd.DataFrame(df_sum, columns=['합계'])
df_sum.index.name = '지역'
df_sum

            합계
지역
강원도       1941
경기도      16948
경상남도      4193
경상북도      3407
광주광역시     2284
대구광역시     3988
대전광역시     2331
부산광역시     5484
서울특별시    18628
세종특별자치시    435
울산광역시     1415
인천광역시     3681
전라남도      2635
전라북도      2907
제주특별자치도   1014
충정남도      2771
충정북도      1781

In [6]:
df_sum.index.name

'지역'